<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockCompare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/2121515fbf.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="graph.css">
    <link rel="stylesheet" href="body.css">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DesignX</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/stock">Stocks</a></li>
            <li><a class="active" href="/mutualFund">Mutual Fund</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <section></section>
    </nav>

    <div class="body">
        <div class="container">
            <div class="jumbotron">
                <img src="<%=imgpath%>" class="graph">
            </div>
            <div class="jumbotron">
                <table class="table table-hover" style="font-size: 20px;">
                    <tbody>
                      <tr>
                        <td>Symbol</td>
                        <td>hello</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>

</html>