<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockHome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/2121515fbf.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="./navbar.css">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./body.css">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">StockHome</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/stock">Stocks</a></li>
            <li><a class="active" href="/mutualfund">Mutual Fund</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <section></section>
    </nav>

    <div class="body">
        <div class="container">
            <div class="search jumbotron">
                <form action="/mutualfund" method="post">
                    <div class="form-group">
                        <label for="usr" style="font-size: 24px;">Search Mutual Fund</label>
                        <input type="text" class="form-control" id="usr" name="mutualFundId">
                        <input type="submit" class="form-control btn btn-primary" value="Search">
                    </div>
                </form>
            </div>
            <div class="compare jumbotron">
                <form action="/mutualfundcmp" method="post">
                    <div class="form-group">
                        <label for="usr" style="font-size: 24px;">Compare Mutual Fund</label>
                        <input type="text" class="form-control" id="usr" name="MFId1">
                        <input type="text" class="form-control" id="usr" name="MFId2">
                        <input type="submit" class="form-control btn btn-primary" value="Compare">
                    </div>
            </div>
        </div>
    </div>
</body>

</html>